@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.nav-logo {
    color: #F9FAF8;
    font-size: 24px;
    
}

.navbar {
    background-color: #1F2937;
}

.container, 
.text-hero-main {
    width: 1100px;
    margin: 0 auto;
}

.container, .nav {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li a{
    text-decoration: none;
    color: #fff;
    margin-left: 25px;
    font-size: 18px;
}

.text-hero-main {
    display: flex;
    margin-top: 90px;
    height: 350px;
    gap: 20px;
}

.text-hero {
    color: #F9FAF8;
    
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    margin-top: 15px;
}

.main-image {
    width: 600px;
    height: 290px;
    object-fit: scale-down;
    padding-left: 155px;
}

.sign-up-btn {
    color: #fff;
    background-color: #3882F6;
    padding: 10px 2em;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    border: none;
}

/* random info */

.info-container {
    height: 450px;
    width: 1100px;
    margin: 0 auto;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 35px 0;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image .image-info {
    width: 200px;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-p {
    width: 200px;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

/* QUOTE SECTION */

.quote-container-main {
    background-color: #E5E7EB;
}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 1100px;
    height: 400px;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote-thor {
    align-self: flex-end;
    font-weight: 600;
    font-size: 20px;
    margin-right: 25px;
}

/* CALL TO ACTION */

.call-container-main {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-container {
    width: 95em;
    height: 200px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.call-info {
    color: #E5E7EB;
    font-size: 18px;
    margin-right: 15px;

}
.call-info .call-title {
    font-weight: 600;
    font-size: 25px;
}

.call-btn {
    color: #E5E7EB;
    background-color: #3882F6;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #E5E7EB;
    border-radius: 10px;
    padding: 0.5em 2.5em;
    margin-top: 15px;
}

/* FOOTER */

footer {
    background-color: #1F2937;
    height: 80px;
    display: flex;
    align-items: center;
}

.footer-text {
    color: #F9FAF8;
    text-align: center;
    margin: 0 auto;
}
